<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'LoginSignup/img/favicon.ico' %}"/>
    <iframe width="0" height="0" src="{% static '/audio/audio.mp3' %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: none;"></iframe>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href='{% static "/Questions/CSS/ques.css" %}'>

    <title>Enigma 5.0 | Question</title>
</head>
<body style="background-image: url('{% static '/LoginSignup/img/BG.gif' %}');">
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-custom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" role='collapse' id="navbarTogglerDemo01">
                  <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
                  <div class="navbar-brand"><img id='ieee' src='{% static "/Questions/img/ieee_logo.png" %}'/></div>
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">

                      <li class="nav-item">

                            <a class="nav-link" href="{% url 'index' %}">Home</a>

                    </li>

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'Questions:Leaderboard' %}">Leaderboard</a>
                    </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'Questions:Question_Solver' %}">Question View</a>
                      </li>


{#                    <li class="nav-item">#}
{#                      <a class="nav-link" href="{% url 'Questions:Achievements' %}">Achievements</a>#}
{#                    </li>#}

                      <li class="nav-item">

                            <a class="nav-link" href="{% url 'Questions:Story' %}">Story</a>

                        </li>

                      <li class="nav-item">
                          <a class="nav-link" href="#" data-toggle="modal" data-target="#rules">Rules</a>
                      </li>


                      <li class="dropdown nav-item">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Profile</a>
                          <ul class="dropdown-menu dropdown-menu-right">
                              <li class="nav-item">
                                  <a class="nav-link" href="#">{{ Name }}</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Score: {{ Score }}</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{% url 'LoginSignup:Logout' %}">Log Out</a>
                              </li>
                          </ul>

                        </li>
                  </ul>
                </div>
        </nav>


        <div id='one'>
            <div class='container' id='main-container'>

                <div class='row'>
                    <div class="col-12" id='ques-img-holder'>
                        <img id='ques-img' src="{{ Image }}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12" id="ques-box">
                        <p id="ques">{{ Question }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8" id="ans-box">
                        <form action="{% url 'Questions:Question_Solver' %}" method="post" id="form-box">
                            {% csrf_token %}
                            {{ AnswerForm.as_p }}
                            {% if Dist == 0 %}
                            {% elif Dist == 3 %}
                                <p style="color: red">Naaa....</p>
                            {% elif Dist == 2 %}
                                <p style="color: red">You're Getting There</p>
                            {% elif Dist == 1 %}
                                <p style="color: red">You're So Close!</p>
                            {% endif %}
                            <div class='row' id='login-row'>
                                <div class="col-12" id='btn'>
                                    <div id='btn'>
                                        <button value="Submit" id="mover">Submit</button>
                                        <br/>
                                        {% if Trig %}
                                        <a href='#hintModal' id="hint" data-toggle="modal" >
                                        <img src="{% static '/Questions/img/i-off.png' %}" id="bulb" onclick="changeColor()">
                                        </a>
                                        {% else %}
                                         <a href='{% url "Questions:Question_Solver_Hint" %}' id="hint">
                                        <img src="{% static '/Questions/img/i-off.png' %}" id="bulb" onclick="changeColor()">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>


            </div>
        </div>



        <!-- the hint for the question goes in this modal -->
        <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="container mx-auto" id="hint-head">
                            <h3 class="modal-title" id="exampleModalScrollableTitle">Hint:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="mx-auto" id="hint-body-holders">
                                <p id="hint-text-box">

                                    {{ Hint }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="mx-auto"><img id='ieee' src='{% static "/Questions/img/ENIGMA_logo.png" %}'/></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- the rule goes in this modal -->
        <div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="hintModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="container mx-auto" id="hint-head">
                            <h3 class="modal-title" id="exampleModalScrollableTitle">Rule:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="mx-auto" id="hint-body-holders">
                                <p id="hint-text-box" style="text-align: center">
                                    The Rules for Enigma are as Follows:<br><br>
                                    First 20 People to solve a Question -- 100 Points<br>
                                    Between 21 to 50 -- 80 Points<br>
                                    Between 51 to 100 -- 60 Points<br>
                                    Not in the first 100 -- 50 Points<br>
                                    <p style="color: darkred; text-align: center" >Note:<br><p/>
                                    <p id="hint-text-box" style="text-align: center">If you use the hint, you lose 50% of the points you would obtain otherwise.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="mx-auto"><img id='ieee' src='{% static "/Questions/img/ENIGMA_logo.png" %}'/></div>
                    </div>
                </div>
            </div>
        </div>


{#        <!-- this modal is displayed only on the submission of the correct ans. for story -->#}
{#        <div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="hintModal" aria-hidden="true">#}
{#            <div class="modal-dialog modal-dialog-scrollable" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <div class="container mx-auto" id="hint-head">#}
{#                            <h3 class="modal-title" id="exampleModalScrollableTitle">Hint:</h3>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <div class="row">#}
{#                            <div class="mx-auto" id="hint-body-holders">#}
{#                                <p id="hint-text-box">#}
{##}
{#                                    <!-- this is the place where the story is displayed -->#}
{##}
{#                                    -------------------------------------------------#}
{#                                    -------------------------------------------------#}
{#                                    -----------------this is hint modal--------------#}
{#                                    -------------------------------------------------#}
{#                                    -------------------------------------------------#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <div class="mx-auto"><img id='ieee' src='{% static "/Questions/img/ENIGMA_logo.png" %}'/></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#{{ Attempts }}#}
<script>
    function changeColor()
    {
        document.getElementById("bulb").src = "{% static '/Questions/img/l-on.png' %}";
    }

</script>
{% if Trig %}
    <script>
        $(window).on('load',function(){
            $("#hintModal").modal({ show : true })
        });
        changeColor();
    </script>

{% endif %}
</body>
</html>

