<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1> Dashboard </h1>
<h3>User Details:</h3>
<h5>{{ username }}</h5>
<h5>{{ fname }}</h5>
<h5>{{ lname }}</h5>
<h5>{{ mail }}</h5>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<a href="{% url 'Questions:Question_Solver' %}">Next Question</a>
<a href="{% url 'Questions:Achievements'  %}">Achievements</a>
<a href="{% url 'Questions:Leaderboard'%}">Leaderboards</a>
<a href="/">Home</a>
</body>
</html>