{% autoescape off %}


<div style="background-image: linear-gradient(172deg,#1b191d,#360033);
        padding: 5px;
        color: #fff;
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        display: inline-block;
        justify-content: center;
        align-content: center;">

    <div style="justify-content: center;
        align-content: center;
        border: 2px solid white;
        padding: 5px;
        background-image: url('https://i.imgur.com/3cEcHYa.png');
    background-position: right;">

        <img style="align-self: center;
        margin-top: 30px;
        width: 250px;
        height: auto;" src="https://i.imgur.com/t8XNz32.png"/>

        <h2 style=" margin-top: 50px;">Hi {{ user }},</h2>

        <p style="padding: 10px;
        font-family: 'Titillium Web', sans-serif;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        text-align: center;
        justify-content: center;
        font-size: 18px;
        word-spacing: 3px;
        text-space: 5px;
        line-height: 26px;
        color: white;">
            Greetings from IEEE-VIT
            <br/>

        </p>

         <p style="padding: 10px;
        font-family: 'Titillium Web', sans-serif;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        text-align: center;
        justify-content: center;
        font-size: 10px;
        word-spacing: 3px;
        text-space: 5px;
        line-height: 26px;
        color: white;">
            We are extremely happy to inform you that Enigma 5.0 has officially begun.
            <br/>
             <br/>
             <br/>

        </p>

        <p style="padding: 10px;
        font-family: 'Titillium Web', sans-serif;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        text-align: center;
        justify-content: center;
        font-size: 10px;
        word-spacing: 3px;
        text-space: 5px;
        line-height: 26px;
        color: white;">
            Visit <a href="enigma.ieeevit.com">Enigma 5.0</a> to start solving.
            <br/>
             <br/>
             <br/>

        </p>


        <footer>

            <img style="width: 100px;
        height: auto;
        margin-top: 50px;" src="https://i.imgur.com/lk8vHYh.png"/>

        </footer>
    </div>
</div>

{% endautoescape %}

