{% load staticfiles %}
{% autoescape off %}


<div style="background-image: linear-gradient(172deg,#1b191d,#360033);
        padding: 5px;
        color: #fff;
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        display: inline-block;
        justify-content: center;
        align-content: center;">

    <div style="justify-content: center;
        align-content: center;
        border: 2px solid white;
        padding: 5px;
        background-image: url('{% static "LoginSignup/img/Man2.png" %}');
    background-position: right;">

        <img style="align-self: center;
        margin-top: 30px;
        width: 250px;
        height: auto;" src="{% static 'LoginSignup/img/layer-0.png' %}"/>

        <h2 style=" margin-top: 50px;">Hi {{ user }},</h2>

        <p style="padding: 10px;
        font-family: 'Titillium Web', sans-serif;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        text-align: center;
        justify-content: center;
        font-size: 18px;
        word-spacing: 3px;
        text-space: 5px;
        line-height: 26px;">
            Thank you for registering for Enigma 5.0.
            <br/>
            Click the button below to confirm your registration
        </p>

        <a style="margin-top: 5px;
        padding: 12px 16px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
        border-radius: 4px;
        border: none;" href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">Confirm</a>
        <footer>

            <img style="width: 100px;
        height: auto;
        margin-top: 50px;" src="{% static 'LoginSignup/img/ieee_logo.png' %}"/>

        </footer>
    </div>
</div>

{% endautoescape %}

