<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>


{% if registered %}
    <h1>Thank you for Registering</h1>
    <a href="{% url 'index' %}">Click Here to Go Back</a>
{% else %}
    <h1>Please enter the following details to sign up</h1>

    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <p>Please make sure that the password follows the following criteria:</p>
        <ul>
            <li>Password should be atleast 8 characters</li>
            <li>Password should not be too similar to other information</li>
            <li>Password should not be all numeric</li>
        </ul>
        {{ user_form.as_p }}

        <script src="https://google.com/recaptcha/api.js"></script>
        <div class="g-recaptcha" data-sitekey="6LeDz4UUAAAAAPb-CcOMtvOG4oDBBigtdDcoDAoh"></div>

        <input type="submit" value="Signup">
    </form>
{% endif %}
</body>
</html>
